<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.demo.redis.mapper.TDemoMapper">

    <select id="getDemoByName" resultType="com.chen.demo.redis.entity.TDemo">
        select
         *
        from t_demo
        where name = #{name}
    </select>

    <select id="getDemoById" resultType="com.chen.demo.redis.entity.TDemo">
        select
        *
        from t_demo
        where id = #{id}
    </select>

    <update id="updateDemo">
        update t_demo set name = #{name} where id = #{id}
    </update>
</mapper>